<section ng-show="AboutUsCtr.currentSection == 'Company'">
    About Us / Company
</section>

<section ng-show="AboutUsCtr.currentSection == 'Team'">
    About Us / Team
</section>

<button ng-click="AboutUsCtr.changeSection('Company')">Show Company</button>
<button ng-click="AboutUsCtr.changeSection('Team')">Show Team</button>

<button ng-click="AboutUsCtr.getData()">Get Data</button>

<ol>
    <li remove-from-list ng-repeat="organisation in AboutUsCtr.organisations">
        <span>{{organisation.login}}</span>
        <span ng-show="shown">{{organisation.id}}</span>
        <strong ng-click="toggleId()">Toggle Id</strong>
    </li>
</ol>